<div class= "row">

    <div id= "dish-col"  class= "col-md-6 offset-md-3">
        <h5>Prepare your dish:</h5>
        {{#each Dishes}}
            <button id= "dish-btn" class="btn btn-primary btn-block text-left" data-id= {{dataValues.id}}>
                {{dataValues.name}}
                <span class= "badge badge-light float-right mt-1">{{dataValues.skill}}</span>
            </button>
        {{/each}}
    </div>

    <div id= "txt-col" class= "col-md-6 offset-md-3">
        <p id= "npc-txt"></p>
        <p id= "result-txt"></p>
        <button id= "end-txt-btn" class= "btn btn-primary">END</button>
    </div>

    <button id= "return-btn" class= "btn btn-primary">RETURN</button>

</div>
