<h3>What will you cook?</h3>
<ul>
    {{#each Dishes}}
    <li>
        <button class='dish-btn' data-id={{dataValues.id}}>
            {{dataValues.name}}
        </button>
    </li>
    {{/each}}
</ul>