<div class="row">
    <div class="col-12">
        <h1 id='charName'></h1>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h3>Stats:</h3>
            <ul>
                <li id='skill_R'></li>
                <li id='skill_K'></li>
                <li id='skill_G'></li>
                <li id='skill_S'></li>
                <li id='skill_D'></li>
            </ul>
    </div>
    <div class="col-8">
        {{#each info}}
            <button class="environments" data-id={{dataValues.id}}>{{dataValues.flavour_text}}</button>
        {{/each}}
    </div>
    <div class="col-1">
        <button id='logout'>Logout</button>
    </div>
</div>
<script src="/js/home.js"></script>